:root {
  --font-color: black;
  --background-color: white;
  --link-color: blue;
  --muted-color: rgb(94, 94, 94);
}
@media (prefers-color-scheme: dark) {
  :root {
      --font-color: white;
      --background-color: #161616;
      --link-color: lightblue;
      --muted-color: rgb(192, 192, 192);
  }
  a {
    color: var(--link-color);
  }
}

.muted {
  color: var(--muted-color);
}

.no-link {
  color: inherit;
  text-decoration: none;
}

.blog-title {
  margin-bottom: 0;
  text-decoration: underline;
}

.title {
  text-wrap: pretty;
}

.blog-description {
  font-size: medium;
}

.link-like {
  text-decoration: underline;
  cursor: pointer;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  padding: 0 10px;
  margin-left: calc(5vw - 10px);
  color: var(--font-color);
  background-color: var(--background-color);
  font-size: larger;
}

main {
  max-width: 600px;
  line-height: 2;
}

@media (min-width: 400px) {
  .large-screen-break {
      height: 10px;
  }
}

header {
  text-align: left;
}

.footer-text {
  color: var(--font-color);
  text-decoration: none;
  font-size: smaller;
}

.hidden-text {
  color: var(--background-color);
}

hr {
  color: var(--font-color);
  border: solid 0.5px var(--muted-color);
}

.subtle-header {
  margin-top: 2.5vh;
}

.footer {
  margin-top: 2rem;
  line-height: 2;
  margin-bottom: 1rem;
  text-align: center;
}

.subtle-link {
  text-decoration: none;
  color: var(--font-color);
}

.link-grid {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: repeat(2, auto);
  gap: 0px 25px;
}
